*{
    box-sizing:border-box;
}

header,footer{
    height:100px;
    border:3px solid black;
    clear:both;
}

article{
    width:40%;
    height:300px;
    border:3px solid black;
    float:left;
}

section{
    width:20%;
    height:300px;
    border:3px solid black;
    float:left;
}

@media screen and (max-width: 600px){
    section{
        background-color:green;
    }
}

@media (min-width:600px) and (max-width:900px){
    section{
        background:blue;
        width:33.333%;
    }

    article{
        display:none;
    }
}

