@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

li{
    text-decoration: underline;
    color: blue;
    font-size:15px;
    background: gray;
}

section{
    height: 300px;
    background:purple;
    border: 5px solid gold;
}

h1{
    font-size: 30px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

h2{
    text-decoration: line-through;
}

footer{
    background: rgb(124, 72, 4);
    height: 300px;
    width: 70%;
}