*{
    box-sizing:border-box;
}

header,footer{
    height:100px;
    border:3px solid black;
    clear:both;
}

section{
    border:3px solid black;
    width: 33.3333%;
    float:left;
    height:300px;
}
